body{
    align-items: center;
}

.nav {
    background-color: rgb(95, 95, 95);
    padding: 10px;
    color: rgb(105, 21, 122);
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 1000px;
    height: 50px;
}


.nav-title {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    color: white;
}


.nav-links{
   
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
     justify-content: space-between;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}


.nav-links li {
    display: inline;
    margin-right: 50px;
  
}


.active{
    border: 4px solid rgb(0, 0, 0);
    padding-right: 250px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: rgb(148, 188, 224);
}

.ninja1{
    border: 5px solid rgb(164, 48, 100);
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    width: 500px;
   height: 210px;
   
}

.ninja2{
    border: 5px solid rgb(156, 83, 188);
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    width: 500px;
   height: 210px;
   
}

h4{
    display: inline;
    padding-left: 40px;
    position: absolute;
   top: 200px;

}
.derecha{
    border: 5px solid rgb(116, 28, 127);
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    width: 180px;
height: fit-content;
    display: block;
    margin-left: 20px;
    
}
.todo{
    display: inline-flex;
}
